@{
    ViewData["Title"] = "Access Denied";
}

<div class="text-center">
    <h1>403 Access Denied</h1>
    <p>You do not have permission to view this page.<br>Go back to <a href="@Url.Action("Index", "Home")">Homepage</a>.</p>
</div>
